<!DOCTYPE html>
<html>
<head>
   <title>XXXX</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <link href="master.css" rel="stylesheet">
  <script src="master.js"></script>
</head>
<body>
