// TYPE

text-color-body=			hsl(0, 0%, 80%)
typeface-primary=         Pitch-Medium, Calluna-Regular, Arial, sans-serif
typeface-primary-italic=  Pitch-MediumItalic, Calluna-Regular, Arial, sans-serif
typeface-secondary= 			Arial, sans-serif

// BREAKPOINTS

phone =						"(min-width: 30em)"
tablet =					"(min-width: 48em)"
laptop =					"(min-width: 62em)"
desktop =					"(min-width: 75em)"
bigscreen =					"(min-width: 90em)"

// COLORS

--color-red=  #FF3700

// SPACING UNITS

unit0=    4px
unit1=    8px
unit2=    16px
unit3=    24px
unit4=    32px
unit5=    40px
unit6=    48px
unit7=    56px
unit8=    64px
unit9=    72px
unit10=   80px
unit11=   88px
unit12=   96px
unit13=   104px
unit14=   112px
unit15=   120px
