// Styles

text-color-body=			hsl(0, 0%, 80%)
typeface-body= 				Arial, sans-serif
typeface-body-italic= 		Arial, sans-serif
typeface-headline= 			Arial, sans-serif

// Breakpoint (matches flexboxgrid)

phone =						"(min-width: 30em)"
tablet =					"(min-width: 48em)"
laptop =					"(min-width: 62em)"
desktop =					"(min-width: 75em)"
bigscreen =					"(min-width: 90em)"
